body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  /* justify-content: center; */
  overflow-x: hidden;
}
.rowdiv {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: 30rem;
  background-color: lightcoral;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.coldiv {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  background-color: darkolivegreen;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
